// Colors
$white: #fff;
$gray--light: #dadada;
$gray: rgb(145, 142, 142);
$gray--dark: #424242;
$blue--light: #1cb3ff;
$blue: #0265a1;
$blue--dark: #063c57;
$black: #000;
$red: #f00;
$orange: #f14703;
$green--light: #22aa44;
$green--dark: #1c7031;
